<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="app.main">Phrase Book</a>
    </div>
    <div class="navbar-collapse collapse" ng-if="user !== undefined">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="app.statistics">Statistics</a></li>
        <li ui-sref-active="active"><a ui-sref="app.graphs">Graphs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle">{{user}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/api/auth/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse" ng-if="user === undefined">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" ng-if="user == undefined">
          <a href="/api/auth/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div ui-view></div>
</div>
