<div>
  <div>
    <form class="main-form row">
      <div class="form-group">
        <input type="search" class="form-control" ng-model="search" placeholder="Search">
      </div>
    </form>
  </div>
  <div ng-repeat="phrase in phrases | filter:search | orderBy:'createdAt':true" class="phrase">
    <p class="created-at text-right">{{phrase.createdAt | date:'yyyy/MM/dd HH:mm:ss'}}</p>
    <p class="japanese">{{phrase.english}}</p>
    <p class="english">{{phrase.japanese}}</p>
  </div>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <button type="button" class="btn btn-default navbar-btn pull-right" ng-click="openDialog()">Add new phrase</a>
    </div>
  </nav>
</div>
