.menu {
  background-color: #dd4814;
}

.menu>div {
  max-width: 1200px;
  margin: 0 auto;
}

.menu a {
  color: white;
}

.content {
  max-width: 1200px;
  margin: 0 auto 1em;
  background-color: white;
  box-shadow: 0 0 10px;
}

.content>div {
  padding: 3em 1em 1em;
  min-height: 500px;
}

:global(.pure-menu-link):hover, :global(.pure-menu-link):focus  {
  background-color: #b03207;
}

:global(.pure-menu-selected) :global(.pure-menu-link), :global(.pure-menu-selected) :global(.pure-menu-link:visited) {
  color: #ff926d;
}

