.phraseList h2 {
  color: #dd4814;
}

.phraseList .submitButton {
  margin-top: 1em;
  color: white;
  background-color: #dd4814;
}

.searchBox {
  margin-bottom: 2em;
}

.phrase {
  margin-bottom: 2em;
}

.phrase p {
  margin: 0;
}

.phrase .date {
  border-bottom: 2px solid #dd4814;
  text-align: right;
}
