div.phrase>.created-at {
  border-bottom: 2px solid #dd4814;
  margin-bottom: 0;
}
div.phrase>p {
  word-wrap: break-word;
}
div.phrase {
  margin-bottom: 30px;
}
form.main-form {
  margin-bottom: 20px;
}
